body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    border: 2px solid black;
    background-color: white;
}
